body {
    margin: 0;
    padding: 0;
    background: no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;

  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: #913044;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-box .avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: -115px;
    background: #b17076;
    left: calc(20% - 30px);
  }

  .login-box .logo {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    position: absolute;
    bottom: 50px;
    left: calc(25% - 12px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffffff;
    color: #913044;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }

  .navbar {
    background: #01425E;
  }
  
  .login_fondo{
    background-image: url(../Imagenes/Fondo.jpeg)
  }

  /*  --------------- Estilos del navbar------------------------*/ 
  

a:link {
  color: #ffffff;
}

* {
  font-family: arial;
}

.contenedor {
    position: relative;
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s ease-out;
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
}

.contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor-cards .contenedor-card-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 25%;
    margin: 1%;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 5px;
    cursor: help;
}

.contenedor-cards .contenedor-card-item:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.contenedor-card-item-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #3E2723;
    border-radius: 5px;
}

.contenedor-card-item img {
    max-width: 100%;
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 5px;
}

.contenedor-card-item .contenedor-info {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: -70px;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contenedor-card-item .contenedor-info .fondo {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.73) 53%, rgba(0,0,0,0.88) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e0000000',GradientType=0 );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contenedor-card-item .contenedor-info .info {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 20px 15px;
}

.contenedor-card-item .contenedor-info .info .titulo {
  margin: 0;
  font-size: 20px;
}

.contenedor-card-item .contenedor-info .info .categoria {
    display: block;
    font-size: 10px;
}

.contenedor-card-item:hover .contenedor-info {
    bottom: 0;
}

.contenedor-card-item:hover img {
    top: -30px;
    -webkit-transform: rotate(-5deg) scale(2);
    -ms-transform: rotate(-5deg) scale(2);
    -o-transform: rotate(-5deg) scale(2);
    transform: rotate(-5deg) scale(2);
}

@media screen and (max-width: 900px) {
    .contenedor-card-item:hover img {
    top: -30px;
    -webkit-transform: rotate(-5deg) scale(1.3);
    -ms-transform: rotate(-5deg) scale(1.3);
    -o-transform: rotate(-5deg) scale(1.3);
    transform: rotate(-5deg) scale(1.3);
  }

    .contenedor-card-item .contenedor-info {
        bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .contenedor {
        width: 95%;
    }
  }

  .contenedor-card-item-wrapper-NuevaC div
  {
   background-color: #913045;
  }

  .contenedor-card-item-wrapper-MinutarioOf div
  {
   background-color: #bb9765;
  }

  .contenedor-card-item-wrapper-RevisarC div
  {
   background-color: #d18392
  }

  

 
