body {
    margin: 0;
    padding: 0;
    background: no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;

  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: #913044;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-box .avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: -115px;
    background: #b17076;
    left: calc(20% - 30px);
  }

  .login-box .logo {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    position: absolute;
    bottom: 50px;
    left: calc(25% - 12px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffffff;
    color: #913044;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }

  #navbar {
    background: #01425E;
  }

.login_fondo{
  background-image: url(../Imagenes/Fondo.jpeg)
}